/* Estilo para o título */
h1 {
    color: #2c3e50;
    font-size: 2.5em;
    text-align: center;
}

/* Estilo para o parágrafo */
p {
    font-size: 1.2em;
    color: #34495e;
    text-align: justify;
    margin: 20px;
}

/* Estilo para o botão */
button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
